/* Register.css */

.register-container {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

.form-control:focus {
    border-color: #007bff;
}

.btn-primary {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0062cc;
}

.login-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.login-link:hover {
    color: #0062cc;
}

@media screen and (max-width: 600px) {
    .register-container {
        width: 100%;
        padding: 20px;
    }

    .form-control {
        padding: 10px;
    }

    .btn-primary {
        padding: 10px;
    }
}